#button-id-5-:active, #button-id-5-.active { color: rgb(0, 0, 0) !important; background-color: rgb(0, 0, 0) !important; }

#button-id-5-:hover, #button-id-5-.hover { color: rgba(0, 0, 0, 0.5); background-color: rgba(0, 0, 0, 0.7); }

#button-id-5- { margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; width: 100%; left: 0px; min-height: 60px; background-color: rgb(0, 0, 0); }

#button-id-4-:active, #button-id-4-.active { color: rgb(0, 0, 0) !important; background-color: rgb(0, 0, 0) !important; }

#button-id-4-:hover, #button-id-4-.hover { color: rgba(0, 0, 0, 0.5); background-color: rgba(0, 0, 0, 0.7); }

#button-id-4- { margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; width: 100%; left: 0px; min-height: 60px; background-color: rgb(0, 0, 0); }

#button-id-3-:active, #button-id-3-.active { color: rgb(0, 0, 0) !important; background-color: rgb(0, 0, 0) !important; }

#button-id-3-:hover, #button-id-3-.hover { color: rgba(0, 0, 0, 0.5); background-color: rgba(0, 0, 0, 0.7); }

#button-id-3- { margin: unset; color: rgb(0, 0, 0); font-size: 15px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; width: 100%; left: 0px; min-height: 60px; background-color: rgb(0, 0, 0); }

#container-id-2- { position: absolute; margin: unset;
  left: 51.63636363636363%; min-height: 60px;
  width: 40%; background-color: rgba(238, 238, 238, 0); top: 400px; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-bottom: 0px !important; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; }

#container-id-3- > * { position: static; margin-right: 0px !important; margin-bottom: 0px !important; }

#text-id-4- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); width: 100%; left: 0px; letter-spacing: 0px; font-size: 160px; line-height: 136px; font-family: futura; }

#container-id-3- { margin: unset; background-color: rgb(238, 238, 238);
  width: 100%; flex-direction: column; justify-content: flex-start; align-items: center; position: absolute; left: 0px; top: 0px; padding: 56px 80px; min-height: 734px; height: 100vh; }

#ui-canvas { background-position: center center; }

#container-id-3- { background-image: url("../img/-project-image-1.jpeg"); }

@media (min-width:1025px) {#container-id-3- > * { flex-grow: 1; }

#text-id-4- { flex-grow: 0 !important; flex-shrink: 0 !important; }}

@media (min-width:561px) and (max-width:1024px) {#container-id-2- {
  width: 100%; left: 0px; top: 390px; }

#container-id-3- { left: 0px; padding: 40px 64px; }

#text-id-4- { width: 100%; left: 0px; letter-spacing: 0px; line-height: 90px; font-size: 80px; flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-3- > * { flex-grow: 1; }}

@media (max-width:560px) {#button-id-5- { width: 100%; left: 0px; min-height: 60px; }

#button-id-4- { width: 100%; left: 0px; min-height: 60px; }

#button-id-3- { min-height: 60px; }

#container-id-3- { min-height: 600px; left: 0px; padding: 24px; height: unset; }

#text-id-4- { letter-spacing: 0px; line-height: 63px; font-size: 56px; text-align: center; width: auto; flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-3- > * { flex-grow: 1; }

#container-id-2- {
  width: 100%; left: 0px; top: 285px; }}